---
http_interactions:
- request:
    method: get
    uri: https://apimgw.aeso.ca/public/poolprice-api/v1.1/price/poolPrice?endDate=2023-09-02&startDate=2023-09-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<AESO_PRIMARY_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"timestamp":"2025-12-30 21:52:54.084+0000","responseCode":"200","return":{"Pool
        Price Report":[{"begin_datetime_utc":"2023-09-01 06:00","begin_datetime_mpt":"2023-09-01
        00:00","pool_price":"181.09","forecast_pool_price":"152.60","rolling_30day_avg":"189.67"},{"begin_datetime_utc":"2023-09-01
        07:00","begin_datetime_mpt":"2023-09-01 01:00","pool_price":"146.24","forecast_pool_price":"139.21","rolling_30day_avg":"189.80"},{"begin_datetime_utc":"2023-09-01
        08:00","begin_datetime_mpt":"2023-09-01 02:00","pool_price":"141.72","forecast_pool_price":"139.21","rolling_30day_avg":"189.90"},{"begin_datetime_utc":"2023-09-01
        09:00","begin_datetime_mpt":"2023-09-01 03:00","pool_price":"89.11","forecast_pool_price":"78.74","rolli[...]
