---
http_interactions:
- request:
    method: get
    uri: https://api.eia.gov/v2/electricity/rto/region-data/data/?api_key=<EIA_TOKEN>&data%5B%5D=value&end=2023-01-03&facets%5Brespondent%5D%5B0%5D=BANC&facets%5Btype%5D%5B0%5D=D&frequency=hourly&offset=0&start=2023-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - cakii0b6u4u2mm9mb6dg
      X-Vcap-Request-Id:
      - 78406703-481b-41be-714e-70b3dd8c6d50
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"total":49,"dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2023-01-01T00","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","type":"D","type-name":"Demand","value":2017,"value-units":"megawatthours"},{"period":"2023-01-01T01","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","type":"D","type-name":"Demand","value":2094,"value-units":"megawatthours"},{"period":"2023-01-01T02","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","type":"D","type-name":"Demand","value":2153,"value-units":"megawatthours"},{"period":"2023-01-01T03","respondent":"BANC","respondent-name":"Balancing
        Authority of N[...]
