---
http_interactions:
- request:
    method: get
    uri: https://api.eia.gov/v2/electricity/rto/fuel-type-data/data/?api_key=<EIA_TOKEN>&data%5B%5D=value&end=2023-01-02&frequency=hourly&offset=0&start=2023-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - caugj85thj8g0pk6hl80
      X-Vcap-Request-Id:
      - 4519f3ad-5a79-4f7f-51a8-57cd76294c5d
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"warnings":[{"warning":"incomplete return","description":"The
        API can only return 5000 rows in JSON format.  Please consider constraining
        your request with facet, start, or end, or using offset to paginate results."}],"total":9700,"dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2023-01-01T00","respondent":"SCEG","respondent-name":"Dominion
        Energy South Carolina, Inc.","fueltype":"SUN","type-name":"Solar","value":0,"value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"NYIS","respondent-name":"New
        York Independent System Operator","fueltype":"SUN","type-name":"Solar","value":0,"value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"NEVP","respondent-name":"Nevada
        Power Company","fueltype":"NUC","type-name":"Nuclear","value":0,"value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"MISO","respondent-name":"Midcontinent
        Independent System Operator, Inc.[...]
[...]
