---
http_interactions:
- request:
    method: get
    uri: https://api.eia.gov/v2/electricity/rto/region-data/data/?api_key=<EIA_TOKEN>&data%5B%5D=value&end=2023-01-02&facets%5Btype%5D%5B0%5D=D&frequency=hourly&offset=0&start=2023-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - caugj9d0rfitpga3cdfg
      X-Vcap-Request-Id:
      - def10065-e540-41da-57ee-ddd40fe68beb
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"total":1675,"dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2023-01-01T00","respondent":"CENT","respondent-name":"Central","type":"D","type-name":"Demand","value":28360,"value-units":"megawatthours"},{"period":"2023-01-01T01","respondent":"CENT","respondent-name":"Central","type":"D","type-name":"Demand","value":28789,"value-units":"megawatthours"},{"period":"2023-01-01T02","respondent":"CENT","respondent-name":"Central","type":"D","type-name":"Demand","value":28425,"value-units":"megawatthours"},{"period":"2023-01-01T03","respondent":"CENT","respondent-name":"Central","type":"D","type-name":"Demand","value":28005,"value-units":"megawatthours"},{"period":"2023-01-01T04","res[...]
[...]
