---
http_interactions:
- request:
    method: get
    uri: https://api.eia.gov/v2/electricity/rto/fuel-type-data/data/?api_key=<EIA_TOKEN>&data%5B%5D=value&end=2023-01-03&facets%5Brespondent%5D%5B0%5D=BANC&frequency=hourly&offset=0&start=2023-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - cakigtibc1pisqa22t30
      X-Vcap-Request-Id:
      - a3b6fb85-cdd7-464a-75da-3b07ca200dd6
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"total":196,"dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2023-01-03T00","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","fueltype":"WAT","type-name":"Hydro","value":780,"value-units":"megawatthours"},{"period":"2023-01-02T23","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","fueltype":"WAT","type-name":"Hydro","value":711,"value-units":"megawatthours"},{"period":"2023-01-02T22","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","fueltype":"WAT","type-name":"Hydro","value":700,"value-units":"megawatthours"},{"period":"2023-01-02T21","respondent":"BANC","respondent-name":"Balancing
        Author[...]
