---
http_interactions:
- request:
    method: get
    uri: https://api.eia.gov/v2/electricity/rto/interchange-data/data/?api_key=<EIA_TOKEN>&data%5B%5D=value&end=2024-01-02&facets%5Bfromba%5D%5B0%5D=CISO&frequency=hourly&offset=0&start=2024-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - cf3fjie767ehr3rn4fu0
      X-Vcap-Request-Id:
      - 95fe2657-59ff-4ecc-5612-90bfad1464b1
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"total":"275","dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2024-01-01T08","fromba":"CISO","fromba-name":"California
        Independent System Operator","toba":"WALC","toba-name":"Western Area Power
        Administration - Desert Southwest Region","value":"-192","value-units":"megawatthours"},{"period":"2024-01-01T01","fromba":"CISO","fromba-name":"California
        Independent System Operator","toba":"NEVP","toba-name":"Nevada Power Company","value":"-1093","value-units":"megawatthours"},{"period":"2024-01-01T14","fromba":"CISO","fromba-name":"California
        Independent System Operator","toba":"LDWP","toba-name":"Los Angeles Department
        of Water and Power","value":"372","value-units":"megawatthours"},{"period":"2024-01-01T17","fromba":"CISO","fromba-name[...]
