---
http_interactions:
- request:
    method: get
    uri: https://api.bmreports.com/BMRS/B1610/v2?APIKey=<ELEXON_TOKEN>&NGCBMUnitID=HYWDW-1&Period=*&ServiceType=xml&SettlementDate=2023-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Disposition:
      - attachment; filename="GENERATION_LOAD_B1610_202309151749.xml"
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><responseMetadata><httpCode>200</httpCode><errorType>Ok</errorType><description>Success</description><cappingApplied>No</cappingApplied><cappingLimit>16000</cappingLimit><queryString>SettlementDate=2023-01-01,Period=*,NGCBMUnitID=HYWDW-1</queryString></responseMetadata><responseBody><dataItem>B1610V2</dataItem><responseList><item><documentType>Actual
        generation</documentType><businessType>Production</businessType><processType>Realised</processType><timeSeriesID>ELX-EMFIP-AGOG-TS-247</timeSeriesID><curveType>Sequential
        fixed size block</curveType><settlementDate>2023-01-01</settlementDate><powerSystemResourceType>Generation</powerSystemResourceType><registeredResourceEICCode>48W00000HYWDW-1G</registeredResourceEICCode><marketGenerationUnitEICCode>48W00000HYWDW-1G</marketGenerationUnitEICCode><marketGenerationBMUId>E_HYWDW-1</marketGenerationBMUId><marketGenerationNGCBMUId>HYWDW-1</marketGenerationNGCBMUId><bMUnitID>E_HYWDW-1</bMUnitID><nGCBMUnitID>HYWDW-1</nGCBMUnitID><activeFlag>Y</activeFlag><documentID>ELX-EMFIP-AGOG-31518984</documentID><documentRevNum>1</documentRevNum><Period><timeInterval><start>2023-01-01</start><end>2023-01-01</end></timeInterval><resolution>PT30M</resolution><Point><settlementPeriod>48</settlementPeriod><quantity>13.406</quantity></Point><Point><settlementPeriod>47</settlementPeriod><quantity>11.998</quantity></Point><Point><settlementPeriod>46</settlementPeriod><quantity>9.964</quantity></Point><Point><settlementPeriod>45</settlementPeriod><quantity>12.25</quantity></Point><Point><settlementPeriod>44</settlementPeriod><quantity>15.438</quantity></Point><Point><settlementPeriod>43</settlementPeriod><quantity>16.406</quantity></Point><Point><settlementPeriod>42</settlementPeriod><quantity>15.34</quantity>[...]
