---
http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?documentType=A11&in_Domain=10Y1001A1001A82H&out_Domain=10Y1001A1001A47J&periodEnd=202101020000&periodStart=202101010000&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml
      Content-Disposition:
      - inline; filename="Physical Flows_202101010000-202101020000.xml"
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <Publication_MarketDocument xmlns="urn:iec62325.351:tc57wg16:451-3:publicationdocument:7:0">
          <mRID>0263a1e11cfd41e4bbedef48527d84e9</mRID>
          <revisionNumber>1</revisionNumber>
          <type>A11</type>
          <sender_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</sender_MarketParticipant.mRID>
          <sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>
          <receiver_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</receiver_MarketParticipant.mRID>
          <receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>
          <createdDateTime>2025-11-29T18:31:14Z</createdDateTime>
          <period.timeInterval>
            <start>2021-01-01T00:00Z</start>
            <end>2021-01-02T00:00Z</end>
          </period.timeInterval>
            <TimeSeries>
              <mRID>1</mRID>
              <businessType>A66</businessType>
              <in_Domain.mRID codingScheme="A01">10Y1001A1001A82H</in_Domain.mRID>
              <out_Domain.mRID codingScheme="A01">10Y1001A1001A47J</out_Domain.mRID>
              <quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>
              <curveType>A03</curveType>
                <Period>
                  <timeInterval>
                    <start>2021-01-01T00:00Z</start>
                    <end>2021-01-02T00:00Z</end>
                  </timeInterval>
                  <resolution>PT60M</resolution>
                    <Point>
                      <position>1</position>
                      <quantity>606.61</quantity>
                    </Point>
                    <Point>
                      <position>2</position>
                      <quantity>606.45</quantity>
                    </Point>
                    <Point>
                      <position>3</position>
                      <quantity>606.21</quantity>
                    </Point>
                    <Point>
                      <position>4</position>
                      <quantity>606.68</quantity>
                    </Poin[...]
