---
http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?documentType=A44&in_domain=10YPT-REN------W&out_Domain=10YPT-REN------W&periodEnd=202412290000&periodStart=202412290000&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml
      Content-Disposition:
      - inline; filename="Energy_Prices_202412290000-202412290000.xml"
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
          <Publication_MarketDocument xmlns="urn:iec62325.351:tc57wg16:451-3:publicationdocument:7:3">
            <mRID>f7be8ada132041548fe204a91eb836c4</mRID>
            <revisionNumber>1</revisionNumber>
            <type>A44</type>
            <sender_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</sender_MarketParticipant.mRID>
            <sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>
            <receiver_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</receiver_MarketParticipant.mRID>
            <receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>
            <createdDateTime>2025-11-29T18:31:22Z</createdDateTime>
            <period.timeInterval>
              <start>2024-12-28T23:00Z</start>
              <end>2024-12-29T23:00Z</end>
            </period.timeInterval>
              <TimeSeries>
                <mRID>1</mRID>
                <auction.type>A01</auction.type>
                <businessType>A62</businessType>
                <in_Domain.mRID codingScheme="A01">10YPT-REN------W</in_Domain.mRID>
                <out_Domain.mRID codingScheme="A01">10YPT-REN------W</out_Domain.mRID>
                <contract_MarketAgreement.type>A01</contract_MarketAgreement.type>
                <currency_Unit.name>EUR</currency_Unit.name>
                <price_Measure_Unit.name>MWH</price_Measure_Unit.name>
                <curveType>A03</curveType>
                  <Period>
                    <timeInterval>
                      <start>2024-12-28T23:00Z</start>
                      <end>2024-12-29T23:00Z</end>
                    </timeInterval>
                    <resolution>PT60M</resolution>
                      <Point>
                        <position>1</position>
                          <price.amount>146.28</price.amount>
                      </Point>
                      <Point>
                        <position>2</position>
                          <price.amount>142.77</price.amount>
                      </Point>
                      <Point>
                        <position>3</position>
                          <price.amount>140.08</price.amount>
                      </Point>
                      <Point>
                        [...]
