---
http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?documentType=A65&outBiddingZone_Domain=10YFR-RTE------C&periodEnd=202101020000&periodStart=202101010000&processType=A16&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml
      Content-Disposition:
      - inline; filename="Actual Total Load_202101010000-202101020000.xml"
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <GL_MarketDocument xmlns="urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0">
          <mRID>3d8a83917cc94f23b8c8363829c955b7</mRID>
          <revisionNumber>1</revisionNumber>
          <type>A65</type>
          <process.processType>A16</process.processType>
          <sender_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</sender_MarketParticipant.mRID>
          <sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>
          <receiver_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</receiver_MarketParticipant.mRID>
          <receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>
          <createdDateTime>2025-11-29T18:33:11Z</createdDateTime>
          <time_Period.timeInterval>
            <start>2021-01-01T00:00Z</start>
            <end>2021-01-02T00:00Z</end>
          </time_Period.timeInterval>
            <TimeSeries>
              <mRID>1</mRID>
              <businessType>A04</businessType>
              <objectAggregation>A01</objectAggregation>
              <outBiddingZone_Domain.mRID codingScheme="A01">10YFR-RTE------C</outBiddingZone_Domain.mRID>
              <quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>
              <curveType>A03</curveType>
                <Period>
                  <timeInterval>
                    <start>2021-01-01T00:00Z</start>
                    <end>2021-01-02T00:00Z</end>
                  </timeInterval>
                  <resolution>PT60M</resolution>
                    <Point>
                      <position>1</position>
                      <quantity>64139</quantity>
                    </Point>
                    <Point>
                      <position>2</position>
                      <quantity>62657</quantity>
                    </Point>
                    <Point>
                      <position>3</position>
                      <quantity>59481</quantity>
                    </Point>
                    <Point>
                      <position>4</position>
                      <quantity>57656</quantity>
                    </Point>
 [...]
