---
http_interactions:
- request:
    method: get
    uri: https://api.eia.gov/v2/electricity/rto/fuel-type-data/data/?api_key=<EIA_TOKEN>&data%5B%5D=value&end=2019-07-26&facets%5Brespondent%5D%5B0%5D=BANC&frequency=hourly&offset=0&start=2019-07-25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - c9rlav4svi2ltibj089g
      X-Vcap-Request-Id:
      - a354e53e-bb29-42dd-681b-bdae11b8ec51
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"total":100,"dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2019-07-25T00","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","fueltype":"OTH","type-name":"Other","value":17,"value-units":"megawatthours"},{"period":"2019-07-25T00","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","fueltype":"NG","type-name":"Natural gas","value":1516,"value-units":"megawatthours"},{"period":"2019-07-25T00","respondent":"BANC","respondent-name":"Balancing
        Authority of Northern California","fueltype":"WAT","type-name":"Hydro","value":1377,"value-units":"megawatthours"},{"period":"2019-07-25T00","respondent":"BANC","respondent-name":"Balancing
       [...]
