---
http_interactions:
- request:
    method: get
    uri: https://www.hydroquebec.com/data/documents-donnees/donnees-ouvertes/json/production.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 07 Feb 2026 12:31:09 GMT
      Etag:
      - '"179c1ad-2005-64a3b14937d40"'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: |-
        {
          "dateStart" : "2026-02-06T00:00:00",
          "dateEnd" : "2026-02-08T00:00:00",
          "recentHour" : "2026-02-07T05:30:00",
          "indexDonneePlusRecent" : 29,
          "nbDateAvecData" : 30,
          "details" : [ {
            "date" : "2026-02-06T00:30:00",
            "valeurs" : {
              "total" : 32607.0,
              "hydraulique" : 31086.0,
              "eolien" : 664.0,
              "autres" : 857.0,
              "solaire" : 0.0,
              "thermique" : 0.0
            }
          }, {
            "date" : "2026-02-06T01:30:00",
            "valeurs" : {
              "total" : 32375.0,
              "hydraulique" : 30989.0,
              "eolien" : 532.0,
              "autres" : 854.0,
              "solaire" : 0.0,
              "thermique" : 0.0
            }
          }, {
            "date" : "2026-02-06T02:30:00",
            "valeurs" : {
              "total" : 32704.0,
              "hydraulique" : 31323.0,
              "eolien" : 5[...]
