---
http_interactions:
- request:
    method: get
    uri: https://reports-public.ieso.ca/public/GenOutputCapability/PUB_GenOutputCapability_20230901.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 02 Sep 2023 05:17:16 GMT
      Etag:
      - '"1ff62cd-d84e5-6045964013271"'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" href="http://reports.ieso.ca/docrefs/stylesheet/GenOutputCapability_HTML_t1-4.xsl" ?><IMODocument docID="GenOutputCapability" xmlns="http://www.theIMO.com/schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.theIMO.com/schema http://reports.ieso.ca/docrefs/schema/GenOutputCapability_r3.xsd">
        <IMODocHeader>
        <DocTitle>Generators Output and Capability Report</DocTitle>
        <DocRevision>4</DocRevision>
        <DocConfidentiality>
        <DocConfClass>PUB</DocConfClass>
        </DocConfidentiality>
        <CreatedAt>2023-09-02T00:16:40</CreatedAt>
        </IMODocHeader>
        <IMODocBody>
        <Date>2023-09-01</Date>
        <Generators>
        <Generator>
        <GeneratorName>BRUCEA-G1</GeneratorName>
        <FuelType>NUCLEAR</FuelType>
        <Outputs>
        <Output>
        <Hour>1</Hour>
        <EnergyMW>823</EnergyMW>
        </Output>
        <Output>
        <Hour>2</Hour>
        <EnergyMW>822</EnergyMW>
        </Output>
        <Output>
        <Hour>3</Hour>
        <EnergyMW>821</EnergyMW>
        </Output>
        <Output>
        <Hour>4</Hour>
        <EnergyMW>820</EnergyMW>
        </Output>
        <Output>
        <Hour>5</Hour>
        <EnergyMW>818</EnergyMW>
        </Output>
        <Output>
        <Hour>6</Hour>
        <EnergyMW>816</EnergyMW>
        </Output>
        <Out[...]
