---
http_interactions:
- request:
    method: get
    uri: https://reports-public.ieso.ca/public/IntertieScheduleFlow/PUB_IntertieScheduleFlow_20250930.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 01 Oct 2025 05:31:18 GMT
      Etag:
      - '"56713-640122d8f5edb"'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" href="https://reports-public.ieso.ca/docrefs/stylesheet/IntertieScheduleFlow_HTML_t1-2.xsl" ?><IMODocument docID="IntertieScheduleFlow" xmlns="http://www.theIMO.com/schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.theIMO.com/schema https://reports-public.ieso.ca/docrefs/schema/IntertieScheduleFlow_r2.xsd">
        <IMODocHeader>
        <DocTitle>Intertie Schedule and Flow Report</DocTitle>
        <DocRevision>2</DocRevision>
        <DocConfidentiality>
        <DocConfClass>PUB</DocConfClass>
        </DocConfidentiality>
        <CreatedAt>2025-10-01T00:30:49</CreatedAt>
        </IMODocHeader>
        <IMODocBody>
        <Date>2025-09-30</Date>
        <IntertieZone>
        <IntertieZoneName>MANITOBA</IntertieZoneName>
        <Schedules>
        <Schedule>
        <Hour>1</Hour>
        <Import>68</Import>
        <Export>36</Export>
        </Schedule>
        <Schedule>
        <Hour>2</Hour>
        <Import>68</Import>
        <Export>73</Export>
        </Schedule>
        <Schedule>
        <Hour>3</Hour>
        <Import>68</Import>
        <Export>61</Export>
        </Schedule>
        <Schedule>
        <Hour>4</Hour>
        <Import>68</Import>
        <Export>73</Export>
        </Schedule>
        <Schedule>
        <Hour>5</Hour>
        <Import>68</Import>
        <Export>73</Export>
        </Schedu[...]
