---
http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?documentType=A65&outBiddingZone_Domain=10YFR-RTE------C&periodEnd=205001020000&periodStart=205001010000&processType=A16&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml
      Content-Disposition:
      - inline; filename="acknowledgement.xml"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Acknowledgement_MarketDocument\n\txmlns=\"urn:iec62325.351:tc57wg16:451-1:acknowledgementdocument:7:0\">\n\t<mRID>316dc7ae-843b-4</mRID>\n\t<createdDateTime>2025-11-29T18:35:03Z</createdDateTime>\n\t<sender_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</sender_MarketParticipant.mRID>\n\t<sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n\t<receiver_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n\t<receiver_MarketParticipant.marketRole.type>A39</receiver_MarketParticipant.marketRole.type>\n\t<received_MarketDocument.createdDateTime>2025-11-29T18:35:03Z</received_MarketDocument.createdDateTime>\n\t<Reason>\n\t\t<code>999</code>\n\t\t<text>No
        matching data found for Data item ACTUAL_TOTAL_LOAD_R3 [6.1.A] (10YFR-RTE------C)
        and interval 2050-01-01T00:00:00Z/2050-01-02T00:00:00Z.</text>\n\t</Reason>\n</Acknowledgement_MarketDocument>\n"
  recorded_at: Sat, 29 Nov 2025 18:35:03 GMT
recorded_with: VCR 6.2.0
