---
http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?TimeInterval=2023-07-27/2023-07-28&documentType=A65&outBiddingZone_Domain=10Y1001C--00100H&processType=A16&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <GL_MarketDocument xmlns="urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0">
            <mRID>adf517cf8640437aa06cb8b54522c4ed</mRID>
            <revisionNumber>1</revisionNumber>
            <type>A65</type>
            <process.processType>A16</process.processType>
            <sender_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</sender_MarketParticipant.mRID>
            <sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>
            <receiver_MarketParticipant.mRID codingScheme="A01">10X1001A1001A450</receiver_MarketParticipant.mRID>
            <receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>
            <createdDateTime>2023-08-10T01:08:49Z</createdDateTime>
            <time_Period.timeInterval>
                <start>2023-07-27T00:00Z</start>
                <end>2023-07-28T00:00Z</end>
            </time_Period.timeInterval>
            <TimeSeries>
                <mRID>1</mRID>
                <businessType>A04</businessType>
                <objectAggregation>A01</objectAggregation>
                <outBiddingZone_Domain.mRID codingScheme="A01">10Y1001C--00100H</outBiddingZone_Domain.mRID>
                <quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>
                <curveType>A01</curveType>
                <Period>
                    <timeInterval>
                        <start>2023-07-27T00:00Z</start>
                        <end>2023-07-28T00:00Z</end>
                    </timeInterval>
                    <resolution>PT60M</resolution>
                    <Point>
                        <position>1</position>
                        <quantity>432</quantity>
                    </Point>
                    <Point>
                        <position>2</position>
                        <quantity>407</quantity>
                    </Point>
                    <Point>
                        <position>3</position>
                        <quantity>406</quantity>
                    </Point>
                    <Point>
                        <position>4</position>
                        <quantity>406</quantity>
                    </Poin[...]
