---
http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?TimeInterval=2050-01-01/2050-01-02&documentType=A65&outBiddingZone_Domain=10YFR-RTE------C&processType=A16&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Acknowledgement_MarketDocument\n\txmlns=\"urn:iec62325.351:tc57wg16:451-1:acknowledgementdocument:7:0\">\n\t<mRID>300f258e-8cbf-4</mRID>\n\t<createdDateTime>2023-07-21T00:01:17Z</createdDateTime>\n\n\t<sender_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</sender_MarketParticipant.mRID>\n\t<sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n\n\t<receiver_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n\t<receiver_MarketParticipant.marketRole.type>A39</receiver_MarketParticipant.marketRole.type>\n\n\t\n\t<received_MarketDocument.createdDateTime>2023-07-21T00:01:17Z</received_MarketDocument.createdDateTime>\n\n\n\t<Reason>\n\t\t<code>999</code>\n\t\t<text>No
        matching data found for Data item Actual Total Load [6.1.A] (10YFR-RTE------C)
        and interval 2050-01-01T00:00:00.000Z/2050-01-02T00:00:00.000Z.</text>\n\t</Reason>\n\n\n</Acknowledgement_MarketDocument>\n"
  recorded_at: Fri, 21 Jul 2023 00:01:17 GMT
recorded_with: VCR 6.2.0
