---
http_interactions:
- request:
    method: get
    uri: https://www.nordpoolgroup.com/api/marketdata/page/169?endDate=27-03-2022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"Rows":[{"Columns":[{"Index":0,"Scale":1,"SecondaryValue":null,"IsDominatingDirection":false,"IsValid":true,"IsAdditionalData":false,"Behavior":0,"Name":"SE2
        > SE3","Value":"6 500,0","GroupHeader":"","DisplayNegativeValueInBlue":false,"CombinedName":"SE2
        > SE3","DateTimeForData":"0001-01-01T00:00:00","DisplayName":"6 500,0_True","DisplayNameOrDominatingDirection":"6
        500,0","IsOfficial":true,"UseDashDisplayStyle":false},{"Index":1,"Scale":1,"SecondaryValue":null,"IsDominatingDirection":false,"IsValid":true,"IsAdditionalData":false,"Behavior":0,"Name":"SE3
        > SE2","Value":"0,0","GroupHeader":"","DisplayNegativeValueInBlue":false,"CombinedName":"SE3
        > SE2","DateTimeForData":"0001-01-01T00:00:00","DisplayName":"0,0_True","DisplayNameOrDominatingDirection":"0,0","IsOfficial":true,"UseDashDisplayStyle":false},{"Index":2,"Scale":1,"SecondaryValue":null,"IsDominatingDirection":false,"IsValid":tru[...]
