---
http_interactions:
- request:
    method: get
    uri: https://www.nordpoolgroup.com/api/marketdata/chart/503617?endDate=01-01-2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"chartDataAvailable":true,"data":{"Rows":[{"Columns":[{"Value":"7
        121","Name":"SE2 > SE3","GroupHeader":"","Index":0,"UseDashDisplayStyle":false},{"Value":"7
        300","Name":"SE3 > SE2","GroupHeader":"","Index":1,"UseDashDisplayStyle":false},{"Value":"4
        900","Name":"SE3 > SE4","GroupHeader":"","Index":2,"UseDashDisplayStyle":false},{"Value":"2
        800","Name":"SE4 > SE3","GroupHeader":"","Index":3,"UseDashDisplayStyle":false},{"Value":"1
        662","Name":"DK2 > SE4","GroupHeader":"","Index":4,"UseDashDisplayStyle":false},{"Value":"1
        261","Name":"SE4 > DK2","GroupHeader":"","Index":5,"UseDashDisplayStyle":[...]
[...]
