---
http_interactions:
- request:
    method: get
    uri: https://www.nordpoolgroup.com/api/marketdata/page/484060?endDate=01-01-2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"Rows":[{"Columns":[{"Index":0,"Scale":0,"SecondaryValue":null,"IsDominatingDirection":false,"IsValid":true,"IsAdditionalData":false,"Behavior":0,"Name":"SE2
        > SE3","Value":"7 300","GroupHeader":null,"DisplayNegativeValueInBlue":false,"CombinedName":"SE2
        > SE3","DateTimeForData":"0001-01-01T00:00:00","DisplayName":"7 300_True","DisplayNameOrDominatingDirection":"7
        300","IsOfficial":true,"UseDashDisplayStyle":false},{"Index":1,"Scale":0,"SecondaryValue":null,"IsDominatingDirection":false,"IsValid":true,"IsAdditionalData":false,"Behavior":0,"Name":"SE3
        > SE2","Value":"7 300","GroupHeader":null,"DisplayNegativeValueInBlue":false,"CombinedName":"SE3
        > SE2","DateTimeForData":"0001-01-01T00:00:00","DisplayName":"7 300_True","DisplayNameOrDominatingDirection":"7
        300","IsOfficial":true,"UseDashDisplayStyle":false},{"Index":2,"Scale":0,"SecondaryValue":null,"IsDominatingDirection":fal[...]
