---
http_interactions:
- request:
    method: get
    uri: https://www.nspower.ca/library/CurrentLoad/CurrentLoad.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 23 Jan 2024 19:05:59 GMT
      Etag:
      - '"eadbb6332f4eda1:0"'
    body:
      encoding: UTF-8
      string: |
        [
            {
                "datetime":  "\/Date(1705950000000)\/",
                "Base Load":  0
            },
            {
                "datetime":  "\/Date(1705953600000)\/",
                "Base Load":  1666.23
            },
            {
                "datetime":  "\/Date(1705957200000)\/",
                "Base Load":  1776.76
            },
            {
                "datetime":  "\/Date(1705960800000)\/",
                "Base Load":  1763.15
            },
            {
                "datetime":  "\/Date(1705[...]
- request:
    method: get
    uri: https://www.nspower.ca/library/CurrentLoad/CurrentMix.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 23 Jan 2024 19:06:19 GMT
      Etag:
      - '"4971803f2f4eda1:0"'
    body:
      encoding: UTF-8
      string: |
        [
            {
                "datetime":  "\/Date(1705950000000)\/",
                "Solid Fuel":  48.7,
                "HFO/Natural Gas":  6.31,
                "CT\u0027s":  0.01,
                "LM 6000\u0027s":  4.97,
                "Biomass":  0,
                "Hydro":  30.13,
                "Wind":  7.11,
                "Imports":  2.76
            },
            {
                "datetime":  "\/Date(1705953600000)\/",
                "Solid Fuel":  46.21,
                "HFO/Natural Gas":  6.38,
                "CT\u0027s":  0.01,
                "LM 6000\u0027s":  4.74,
                "Biomass":  0,
                "Hydro":  31.45,
                "Wind":  8.6,
                "Imports":  2.62
            },
            {
                "datetime":  "\/Date(1705957200000)\/",
                "Solid Fuel":  44.23,
 [...]
