---
http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?TimeInterval=2021-01-01/2021-01-02&documentType=A44&in_domain=10Y1001A1001A82H&out_Domain=10Y1001A1001A82H&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Publication_MarketDocument
        xmlns=\"urn:iec62325.351:tc57wg16:451-3:publicationdocument:7:0\">\n\t<mRID>a364d4a6a3724f219b3dc8cc7af77eb5</mRID>\n\t<revisionNumber>1</revisionNumber>\n\t<type>A44</type>\n\t<sender_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</sender_MarketParticipant.mRID>\n\t<sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n\t<receiver_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n\t<receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>\n\t<createdDateTime>2023-07-20T23:45:10Z</createdDateTime>\n\t<period.timeInterval>\n\t\t<start>2020-12-31T23:00Z</start>\n\t\t<end>2021-01-02T23:00Z</end>\n\t</period.timeInterval>\n\t<TimeSeries>\n\t\t<mRID>1</mRID>\n\t\t<businessType>A62</businessType>\n\t\t<in_Domain.mRID
        codingScheme=\"A01\">10Y1001A1001A82H</in_Domain.mRID>\n\t\t<out_Domain.mRID
        codingScheme=\"A01\">10Y1001A1001A82H</out_Domain.mRID>\n\t\t<currency_Unit.name>EUR</currency_Unit.name>\n\t\t<price_Measure_Unit.name>MWH</price_Measure_Unit.name>\n\t\t<curveType>A01</curveType>\n\t\t\t<Period>\n\t\t\t\t<timeInterval>\n\t\t\t\t\t<start>2020-12-31T23:00Z</start>\n\t\t\t\t\t<end>2021-01-01T23:00Z</end>\n\t\t\t\t</timeInterval>\n\t\t\t\t<resolution>PT15M</resolution>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>1</position>\n\t\t\t\t\t\t<price.amount>75.83</price.amount>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>2</position>\n\t\t\t\t\t\t<price.amount>63.16</price.amount>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>3</position>\n\t\t\t\t\t\t<price.amount>54.65</price.amount>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>4</position>\n\t\t\t\t\t\t<price.amount>35.50</price.amount>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>5</posit[...]
