---
http_interactions:
- request:
    method: get
    uri: https://demanda.ree.es/WSvisionaMovilesCanariasRest/resources/demandaGeneracionCanarias?curva=LZ_FV5M&fecha=2023-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-40997722-40997723 NNYN CT(47 98 0) RT(1770468331598 12) q(0 0 2 0) r(3
        3) U12
    body:
      encoding: ASCII-8BIT
      string: null({"valoresHorariosGeneracion":[{"ts":"2022-12-31 20:00","dem":235.2,"die":194.3,"gas":39.4,"eol":2.1,"cc":0.0,"vap":0.0,"fot":0.0,"hid":0.0,"conb":0.0,"turb":0.0,"gnhd":0.0,"efl":0.0},{"ts":"2022-12-31
        20:05","dem":233.6,"die":193.0,"gas":39.4,"eol":1.4,"cc":0.0,"vap":0.0,"fot":0.0,"hid":0.0,"conb":0.0,"turb":0.0,"gnhd":0.0,"efl":0.0},{"ts":"2022-12-31
        20:10","dem":232.0,"die":192.0,"gas":39.5,"eol":1.2,"cc":0.0,"vap":0.0,"fot":0.0,"hid":0.0,"conb":0.0,"turb":0.0,"gnhd":0.0,"efl":0.0},{"ts":"2022-12-31
        20:15","dem":230.0,"die":186.0,"gas":44.4,"eol":1.3,"cc":0.0,"vap":0.0,"fot":0.0,"hid":0.0,"conb":0.0,"turb":0.0,"gnhd":0.0,"efl":0.0},{"ts":"2022-[...]
