---
http_interactions:
- request:
    method: get
    uri: https://web-api.tp.entsoe.eu/api?TimeInterval=2021-01-01/2021-01-02&documentType=A11&in_Domain=10Y1001A1001A82H&out_Domain=10Y1001A1001A47J&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Publication_MarketDocument
        xmlns=\"urn:iec62325.351:tc57wg16:451-3:publicationdocument:7:0\">\n\t<mRID>bdf4352e669a4779a85fd1051c08bf61</mRID>\n\t<revisionNumber>1</revisionNumber>\n\t<type>A11</type>\n\t<sender_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</sender_MarketParticipant.mRID>\n\t<sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n\t<receiver_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n\t<receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>\n\t<createdDateTime>2023-07-21T00:15:37Z</createdDateTime>\n\t<period.timeInterval>\n\t\t<start>2021-01-01T00:00Z</start>\n\t\t<end>2021-01-02T00:00Z</end>\n\t</period.timeInterval>\n\t<TimeSeries>\n\t\t<mRID>1</mRID>\n\t\t<businessType>A66</businessType>\n\t\t<in_Domain.mRID
        codingScheme=\"A01\">10Y1001A1001A82H</in_Domain.mRID>\n\t\t<out_Domain.mRID
        codingScheme=\"A01\">10Y1001A1001A47J</out_Domain.mRID>\n\t\t<quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>\n\t\t<curveType>A01</curveType>\n\t\t\t<Period>\n\t\t\t\t<timeInterval>\n\t\t\t\t\t<start>2021-01-01T00:00Z</start>\n\t\t\t\t\t<end>2021-01-02T00:00Z</end>\n\t\t\t\t</timeInterval>\n\t\t\t\t<resolution>PT60M</resolution>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>1</position>\n\t\t\t\t\t\t<quantity>607</quantity>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>2</position>\n\t\t\t\t\t\t<quantity>606</quantity>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>3</position>\n\t\t\t\t\t\t<quantity>606</quantity>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>4</position>\n\t\t\t\t\t\t<quantity>607</quantity>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<Point>\n\t\t\t\t\t\t<position>5</position>\n\t\t\t\t\t\t<quantity>606</quantity>\n\t\t\t\t\t</Point>\n\t\t\t\t\t<P[...]
