---
http_interactions:
- request:
    method: get
    uri: https://transparency.entsoe.eu/api?TimeInterval=2021-01-01/2021-01-02&documentType=A69&in_Domain=10YFR-RTE------C&processType=A18&securityToken=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GL_MarketDocument xmlns=\"urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0\">\n\t<mRID>c54498bc17a64ca78a1ff2424a6ad1f2</mRID>\n\t<revisionNumber>1</revisionNumber>\n\t<type>A69</type>\n\t<process.processType>A18</process.processType>\n\t<sender_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</sender_MarketParticipant.mRID>\n\t<sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n\t<receiver_MarketParticipant.mRID
        codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n\t<receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>\n\t<createdDateTime>2021-11-21T21:55:44Z</createdDateTime>\n\t<time_Period.timeInterval>\n\t\t<start>2020-12-31T23:00Z</start>\n\t\t<end>2021-01-02T23:00Z</end>\n\t</time_Period.timeInterval>\n\t<TimeSeries>\n\t\t<mRID>1</mRID>\n\t\t<businessType>A94</businessType>\n\t\t<objectAggregation>A08</objectAggregation>\n\t\t<inBiddingZone_Domain.mRID
        codingScheme=\"A01\">10YFR-RTE------C</inBiddingZone_Domain.mRID>\n\t\t<quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>\n\t\t<curveType>A01</curveType>\n\t\t<MktPSRType>\n\t\t\t<psrType>B16</psrType>\n\t\t</MktPSRType>\n\t\t<Period>\n\t\t\t<timeInterval>\n\t\t\t\t<start>2020-12-31T23:00Z</start>\n\t\t\t\t<end>2021-01-01T23:00Z</end>\n\t\t\t</timeInterval>\n\t\t\t<resolution>PT60M</resolution>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>1</position>\n
        \                       <quantity>0</quantity>\n\t\t\t\t</Point>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>2</position>\n
        \                       <quantity>0</quantity>\n\t\t\t\t</Point>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>3</position>\n
        \                       <quantity>0</quantity>\n\t\t\t\t</Point>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>4</position>\n
        \                       <quantity>0</quantity>\n\t\t\t\t</Point>\n\t\t\t\t<Point>\n\t\t\t\t\t<position>5</position>\n
        \                       <quant[...]
